.container {
  padding-left: 2rem;
}
.pageHeader {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 700;
}
.projectContainer {
  padding-left: 2rem;
}
.projectCategories {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.divide {
  border: 1px solid #626060;
}
.list {
  border: 1px solid #fff;
  padding: 5px;
}

.pagination {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  justify-content: center;
  gap: 10x;
  padding: 10px;
}
.pagination button {
  padding: 10px;
  margin-left: 10px;
}

.active {
  background: black;
  color: #fff;
  border: 1px solid #fff;
}
