.challengeText {
  font-size: 1.5rem;
}
.todoContainer {
  display: flex;
  flex-direction: row;
  width: 30rem;
  height: 30rem;
  background-color: antiquewhite;
  margin-top: 1rem;
  padding: 2rem;
}
